* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
}



a:link {
  text-decoration: none;
}

body {
  background-color: #BCD1CE;
}

#mainHeader {
  background-color: #FFE0CB;
}

.newProject {
  width: 400px;
  height: 400px;
  display: inline-block;
}

.main-nav {
  display: block;
}

#category-filter {
  display:block;
  margin-bottom: 30px;
}

.template {
  display: none;
}

#interests img {
  width: 300px;
  height: 300px;
}
