/**********************************************************/
/*                       GENERAL                         */
/*********************************************************/

body {
  background-color: #BCD1CE;
}

/**********************************************************/
/*                       HEADER                          */
/*********************************************************/

#mainHeader {
  background-image: url("../img/purple2.jpg");
}


/**********************************************************/
/*                       NAVBAR                          */
/*********************************************************/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: green;
}

a:visited {
}

#hamburger{

  color: blue;
}
