/**********************************************************/
/*                       GENERAL                         */
/*********************************************************/

body {
  background-color: #FAFAFA;
}

/**********************************************************/
/*                       HEADER                          */
/*********************************************************/

#mainHeader {
  background-image: url("../img/lavender4.png");
  background-position: center;
}

#mainH1 {
  font-family: 'EB Garamond', serif;
  font-size: 4rem;
}

#mainH2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

h3, p {
  font-family: 'EB Garamond', serif;
}

h3 {
  font-size: 1.5rem;
}

#projectNumber {
  font-size: 1.5rem;
}

/**********************************************************/
/*                       NAVBAR                          */
/*********************************************************/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: green;
}

a:visited {
}

#hamburger{

  color: blue;
}

/**********************************************************/
/*                       ABOUT                            */
/*********************************************************/

#aboutHeader {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

#hobbies li {
  list-style: none;
}
